/* Charge fonts */

@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Show off elements */

#header {
	display: none;
}

.breadcrumb,
.page-title {
    display: none;
}

/* Put all elements of header */

div.block-lang-dropdown > h2, #block-social-media-links-social-media-links > h2 {
	display: none;
}

div.form-item-lang-dropdown-select {
	position: absolute;
}
#block-block-3 {
	float:right;
    margin-top: 1.2em;
    font-family: 'Open Sans', serif;
    font-size: 1em;
}

/* Menu styles */

#main-navigation {
    background-color: transparent;
    float: right;
    padding: 0px;
    box-shadow: none;
    margin-right: 1.5px;
}

a.active {
    padding: 0px!important;
    color: #8ED4CC!important;
    border-bottom: 2px solid #f9a392;
}

/* Content with weight 100% */

div.container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    
}
div.region-content {
    background-color: #F8F8F8;
}

/* Banner atributes */

.slick-slider {
    position: relative;
}

.slick-text {
    font-family: 'Open Sans', serif;
    font-size: 3vw;
    position: absolute;
    top: 50%;  
    left: 20%;  
    margin:auto; 
    display:table;
    text-align: center;
    color: white;
    z-index: 9;
    

    
}


.slick-dots {
    display: flex;
    justify-content: center;
    z-index: 999;
    margin: 0;
    padding: 1rem 0;
    
    list-style-type: none;
    
}

li > button {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0;
            
    border: none;
    border-radius: 100%;
    background-color: #8ED4CC;
            
    text-indent: -9999px;
}
li.slick-active button {
            background-color: #f9a392;
}
ul.slick-dots  li {
            margin: 0 0.25rem;
             font-size: 0;
}


div.slick-active  div.slick-text {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    top: 0%;
    
  }

  to {
    top: 50%;
   
  }
}
*/
/* Styles Massages Products */

div.view-content {
    background-color: #F8F8F8;
}


.msj-grid {
    display: inline-block;
    vertical-align:top;
    width: 33%;
}

.msj-block {
    //background-color: #BBD46D;
    //padding: 5%;
    //border-radius: 0% 25% 0% 0%;
}

.msj-title {
    font-family: 'Mr De Haviland', cursive;
    font-size: 3vw;
    font: bold;
    text-align: center;
    color: #f9a392;
     
}

.msj-title > a {
    display: inline-block;
    margin-top: .5em;
}

.resumen-msj {
    font-family: 'Open Sans', serif;
    font-size: 1vw;
    text-align: center;
    margin-top: 2em
}
.msj-dur-pre {
    text-align: center;
    margin-top: 2.6em
}
span.views-field-field-masajes-duracion,
span.views-field-field-masajes-precio {
    font-size: 20px;
    font: bold;
    margin:auto; 
    display:table;
    padding: 3%; 
}
div.img-msj > a > img {

    display: block;
    margin: auto;
    background-color: white;
    padding: 0.5em;

 }

 div.toginfo {
    background-color: white;
    width: 20em;
    height: 12em;
    display: block;
    margin: auto;
    margin-bottom: 3em;
    margin-top: -4em;
    position: relative;
    
    background-image: linear-gradient(bottom, #f9a392, #f9a392 30%, transparent 30%, transparent 100%);
    background-image: -webkit-linear-gradient(bottom, #f9a392, #f9a392 30%, transparent 30%, transparent 100%)
    
 }

/* Formulario */
.text-form {
    font-family: 'Open Sans', serif;
    font-size: 1.5vw;
    color: #8ED4CC;
    margin:auto; 
    display:table;
    padding: 2%;
}
input#edit-submitted-telefono.form-text.form-number.required {
    border-radius: 2em;
}

input.webform-submit {
    background-color: #8ED4CC;
    border-radius: 3em;
  }

div.webform-component--telefono > label {
    color: #f9a392; 
}